.project-page {
    justify-content: center;
    text-align: center;
}

.filters{
    margin: 1rem auto;
    padding: 1rem;
    max-width: 400px;
}

.filters fieldset {
    border: 3px solid var(--secondaryColor);
    border-radius: 10px;
    background-color: var(--mainColor);
    display: flex;
    justify-content: space-between;
}

.filters fieldset legend {
    background-color: var(--mainColor);
    border-top: 3px solid var(--secondaryColor);
    border-radius: 10px;
    color: var(--secondaryColor);
    padding: 0.2rem 0.5rem;
    font-weight: bold;
    font-size: 18px;
}

.filters fieldset label {
    color: var(--secondaryColor);
    margin: 0rem 0.5rem;

    &:hover {
        cursor: pointer;
    }
}

.projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--mainColor);
    margin: 2rem 5rem;
    border: 3px solid var(--secondaryColor);
    border-radius: 25px;
    min-width: 350px;
    min-height: 47.2vh;
    color: var(--secondaryColor)
}

.project-card {
    margin: 2rem 2rem;
    border: 3px solid var(--secondaryColor);
    padding: 2rem;
    min-width: 300px;
    width: 25%;
    height: 175px;
    color: var(--secondaryColor);
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}
.project-card:hover{
    scale: 1.1;
    cursor: pointer;
    border-radius: 25px;
}

.projDet {
    z-index: 1;
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.projDet,
.languages {
    color: var(--secondaryColor);
    background-color: var(--mainColor);
    text-overflow: ellipsis;
    transform: translateY(-20%);
    border: 1px solid var(--secondaryColor);
    border-style: inset;
}

.languages {
    position: relative;
    margin: 0rem 5rem;
}

.project-card div img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.project-page-header-container {
    display: flex;
}

.project-page-banner {
    max-width: 35%;
    border: 3px solid var(--secondaryColor);
    margin: 1rem;
    &:hover{
        cursor: pointer;
    }
}

.project-page-header{
    display: block;
    justify-content: right;
    text-align: left;
    min-width: 40%;
    max-width: 50%;
    margin: 1rem 2rem;
}


.project-page-header h2 {
    font-size: 40px;
    width: 300px;
    border-bottom: 2px solid var(--mainColor);
}

.project-page-extlinks {
    display: flex;
    position: absolute;
    right: 1rem;
}
.project-page-extlinks button{
    border: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--mainColor);
    transition: all 0.1s ease-in-out;
}
.project-page-extlinks button:hover{
    cursor: pointer;
    color: var(--secondaryColor);
    scale: 1.1;
}

.project-page-details{
    margin: 1rem;
    text-indent: 50px;
}
.project-page-details p {
    font-size: 20px;
}

.tech-icon{
    height: 40px;
    width: 40px;
}



/* Tablet and smaller responsiveness */
@media only screen and (max-width: 1024px) {
    .projDet p,
    .languages {
        visibility: hidden;
        margin: 0;
        padding: 0;
    }

    .projDet {
        font-size: 20px;
        position: relative;
        transform: translateY(50%);
        height: 80%;
    }
    .project-name{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        transform: translateY(50%);
    }

    .project-card {
        width: 50%;
    }

    /* Project Specific Page stuff */

    .project-page-header-container{
        margin: 0;
        padding: 0;
        min-width: 100%;
        display: block;
    }

    .project-page-banner{
        min-width: 90%;
        margin: auto;
        margin-top: 10px;
        display: flex;
    }

    
    .project-page-header{
        display: block;
        text-align: left;
        margin: 0;
        padding: 0;
        min-width: 100%;
        border-bottom: 2px solid var(--mainColor);
    }
    .project-page-header h2 {
        font-size: 40px;
        width: 100%;
        border-bottom: 2px solid var(--mainColor);
    }

    .project-page-extlinks {
        display: flex;
        position: inherit;
        justify-content: left;
        right: 1rem;
    }

    .project-page-extlinks button,
    .no-link{
        border: none;
        width: 30px;
        height: 30px;
        background-color: transparent;
        font-size: 1.2rem;
        color: var(--mainColor);
        margin: 1rem;
    }

    .no-link{
        width: 150px;
        height: 50px;
    }

    .project-page-details{
        margin: 0;
        text-indent: 15px;
    }
    
}


/* Mobile responsiveness */
@media only screen and (max-width: 680px) {
    .projects-container{
        margin: 2rem 0;
    }
    
    .projDet {
        font-size: 15px;
    }
    .project-card{
        margin: 15px;
        
        &:hover{
            scale: 1;
            border-radius: 0;
        }
    }
}