@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

html, 
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--tertiaryColor);
  font-family: 'Montserrat', sans-serif;
}

:root{
  --mainColor: #191919;
  --secondaryColor: #F15025;
  --tertiaryColor: #CED0CE;
  --tertiaryLighter: #E6E8E6;
  --textColor: #FFFFFF;
}


footer{
  background-color: var(--mainColor);
  border-top: 3px solid var(--secondaryColor);
  color: var(--textColor);
  min-height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}