body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background-color: rgb(173, 173, 173);
}

.nav-bar{
  width: 100%;
  height: 60px;
  background-color: rgb(39, 50, 54);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main-nav{
  align-self: center;
  height: 100%;
}
.nav-header{
  color: white;
  padding-bottom: 2rem;
  align-self: left;
  justify-content: center;
  border-bottom: 1px solid cyan;
  &:hover{
    transition: 0.2s ease-in-out;
    border-bottom: 2px dotted red;
    color: rgb(255, 205, 205);
    scale: 1.2;
  }
}

.nav-btn{
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100%;
  width: 100px;
  &:hover{
    transition: 0.2s ease-in-out;
    background-color: rgb(0, 134, 134);
    font-weight: bold;
    cursor: pointer;
  }
}

.starter-button{
  border: none;
  padding: 15px 25px 15px 25px;
  font-size: 18px;
  border-radius: 10px;
  background-color: rgb(39, 50, 54);
  color: cyan;
  &:hover{
    transition: 0.4s ease-in-out;
    background-color: cyan;
    border-radius: 0px;
    color: rgb(39, 50, 54);
    font-weight: bold;
    scale: 1.1;
    cursor: pointer;
  }
}



.contact-container{
  border: 2px solid white;
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 66%;
}



.filters{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

fieldset{
  border: 2px solid cyan;
  box-shadow: 5px 5px 2px rgb(65, 65, 65);
  border-radius: 15px;
  padding: 10px;
  margin: 0 10px;
  background-color: rgb(39, 50, 54);
  color: cyan;
}
legend{
  color: cyan;
  background-color: rgb(39, 50, 54);
  border-bottom: 2px solid cyan;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  &:hover{
    transition: 0.5s ease-in-out;
  }
}

label{
  margin: 10px;
  padding: 5px;
}


.projects-container{
  border: 2px solid cyan;
  background-color: rgb(39, 50, 54);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-right: 150px;
}

.project-card{
  margin: 30px 40px;
  border: 2px solid white;
  border-radius: 10px;
  width: 25%;
  height: 200px;
    &:hover{
      transition: 0.2s ease-in-out;
      border-radius: 0px;
      scale: 1.1;
      border: 2px solid cyan;
      cursor: pointer; 
      .project-name{
        transition: 15s ease-in-out;
        text-shadow: rgb(200, 255, 246) 1px 0 10px
      }
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .project-name{
    margin: 20px 50px;
    padding-bottom: 10px;
  }
  .projDet{
    color: white;
    text-shadow: rgb(0, 0, 0) 1px 0 30px;
  }
  .project-description{
    background-color: rgba(0, 0, 0, 0.705);
    padding: 5px 0px;
    margin: 0px 10px;
    border-radius: 20px;
  }

  .languages{
    color: rgb(150, 225, 255);
    text-shadow: rgb(0, 0, 0) 0px 0 5px;
    display: flex;
    justify-content: left;
    margin-top: 10px;
    padding: 5px;
  }
